.nav{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    font-size: 1rem;
}

.navbar{
    width: 100%;
    height: 100%;
    background-color: rgb(153, 153, 153);
    color: black;
    justify-content: space-between; 
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    transition: 0.4s ease;
    color: #ffffff;
}

.navbar__right{
    margin-left: auto;
}